<div id="cardContainer">
        {{#each post as |post|}}
        <section class="card" data-post_id={{post.id}}>
            <div class="cardHeader">
                <h3 class="cardTitle">{{post.title}}</h3>
                <h6 class="cardAuthor">by: {{post.user.name}}</h6>
                <div class="postDateWrap">
                    <p class="postDate">{{format_date post.createdAt}}</p>
                </div>
            </div>
            <div class="postContent">
                <p class='postTextArea'>{{post.main_text}}</p>
            </div>
            {{#if ../isDash}}
            <div class="delUpdBtns">
                <button class="deletePost" data-post_id="{{post.id}}">delete post</button>
                <button class="updatePost" data-post_id="{{post.id}}">edit post</button>
                <button class="sendUpdatePost" data-post_id="{{post.id}}">update</button>
            </div>
            {{/if}}
            <div class="comments">
                {{#if post.comments}}
                {{#each post.comments as |comments|}}
                    <div class="commentWrap">
                        <p class='commentAuthor'>{{post.user.name}}</p>
                        <p class='commentText'>{{comments.comment_main_text}}</p>
                        <div class="commentsDateWrap">
                            <p>{{format_date comments.createdAt}}</p>
                        </div>
                    </div>
                {{/each}}
                {{/if}}
            </div>
            
            {{#if ../logged_in}}
            <div class="addComment">
                <textarea class="commentMain" cols="5" rows="2" placeholder="comment" data-post_id={{post.id}}></textarea>
                <button class="addCommentBtn" data-post_id={{post.id}}>add</button>
            </div>
            {{/if}}
        </section>
        {{/each}}
    </div>